<div class="display-1 text-center mt-5">Home Page</div>
<hr>
<div class="container text-center fst-italic fs-5">
  <div>
    Contact And Home Are Accessible for all users
    <br>
    The Anchors in the header are hidden for the Unaccessible routes so It disappeared
  </div>
  <hr>
  <div>
    Admin Account : admin@admin
    <br>
    Admin Pass    : 1234
    <br>
    [ Can Access All routes ]
  </div>
  <hr>
  <div>
    user Account  : abdo@gmail.com
    <br>
    user Pass     ; 1234
    <br>
    [Can Access Only the products]
  </div>
  <hr>
</div>
